.login-container {
  background-color: #e5e5e5;
  height: 100vh;
  overflow: hidden;
  position: relative;
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    h1 {
      // font-family: Lexend Deca;
      font-style: normal;
      font-weight: normal;
      font-size: 64px;
      line-height: 80px;
      text-align: center;
      color: #224957;
      margin-bottom: 40px;
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      /* identical to box height */
      text-align: center;
      color: #224957;
      margin-bottom: 20px;
    }
    .message{
      height: 20px;
      text-align: center;
      margin-bottom: 10px;
      .successMsg {
        color: #20df7f;
      }
      .errorMsg {
        color: red;
      }
    }
    .inputGroup {
      display: flex;
      flex-direction: column;
      margin-bottom: 2px;
      input {
        height: 45px;
        font-size: 16px;
        margin-top: 5px;
        padding: 8px 16px;
        background-color: #224957;
        color: white;
        border-radius: 10px;
        border: none;
        outline: none;
      }
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        box-shadow: 0 0 0 30px #224957 inset !important;
      }
      input:-webkit-autofill {
        -webkit-text-fill-color: white !important;
      }
      label b {
        font-size: 16px;
        color: #224957;
      }
      p {
        color: red;
        text-align: left;
        margin: 0;
        height: 20px;
      }
      ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1; /* Firefox */
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: white;
      }

      ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: white;
      }
    }
    .forgot {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
      margin-top: 3px;
      .checkbox {
        display: flex;
        align-items: center;
        input {
          margin-right: 5px;
          width: 18px;
          height: 18px;
          accent-color: #224957;
        }
      }
      a {
        text-decoration: none;
        color: #224957;
      }
    }
  }
}
