.selectGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  select {
    height: 45px;
    font-size: 16px;
    margin-top: 5px;
    padding: 8px 16px;
    background-color: #224957;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
  }
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus,
  select:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #224957 inset !important;
  }
  select:-webkit-autofill {
    -webkit-text-fill-color: white !important;
  }
  label {
    font-size: 16px;
    color: #224957;
  }
  p {
    color: red;
    text-align: left;
    margin: 0;
    height: 20px;
  }
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }

  :-ms-select-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
  }

  ::-ms-select-placeholder {
    /* Microsoft Edge */
    color: white;
  }
}